*{
    margin: 0;
    padding:0;
}

body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #5072fd, #19219b);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 5 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
}
.navbar-brand{
    padding: 0 5px;
    color: rgb(182, 182, 182) !important;
}

/*Banner Section*/

#banner{
    background-image: linear-gradient(to right, #5072fd, #19219b);
    color: #fff;
    padding-top: 5%
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
}

.slide1{
    animation-name: Slide_Left;
    animation-duration: 4s;
}
.slide2{
    animation-name: Slide_Left;
    animation-duration: 5s;
}
.slide3{
    animation-name: Slide_Left;
    animation-duration: 6s;
}

@keyframes Slide_Left{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}

